/*start http://stackoverflow.com/questions/19064987/html-css-popup-div-on-text-click#19065024*/
.black_overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.white_content {
  display: none;
  position: fixed;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  padding: 16px;
  border: 20px solid rgba(0, 0, 0, 0.3);
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
  
  background-color: #fff;
  z-index: 1002;
  overflow: auto;
}
/*end http://stackoverflow.com/questions/19064987/html-css-popup-div-on-text-click#19065024*/

a.lightbox-close{
  text-align:right;
}

.lb-close{
  display:block;
  float:right;
  margin:0px 1px;
}

.hide{
  display:none;
}

table td button, table th button{ 
  background:none;
  border: none;
  color: #000000;
  text-decoration: none;
  cursor: pointer; 
  width:80px;
  height:80px;
}

button.link{
  background:none;
  border: none;
  color: #0099ff;
  text-decoration: none;
  cursor: pointer; 
}
button.link:hover{
  color: #0066ff !important;
  text-decoration: underline;
}
a{
  cursor:pointer;
}

.blue-text{
  color:#0099ff !important;
}

.preview-thumb{
  width:80%;
  height:200px;
}

.bingo-table, .menu-table{
  /*width:100%;*/
  margin-left:auto;
  margin-right:auto;
  border-collapse:separate;
  border-spacing:5px 5px;
}

table.bingo-table td, table.menu-table td{
  /*border:1px solid black;*/
  width:80px;
  height:80px;
  text-align:center;
  background-color:#eee;
  color:black;
  cursor:pointer;
  /*margin:5px;*/
}

table.bingo-table th, table.menu-table th{
  text-align:center;
}

table.bingo-table td:hover, table.menu-table td:hover{
  background-color:#33ccff;
}
div.full{
  width:80px;
  height:70px;
}
.center-div{
  text-align:center;
  display:table-cell;
  vertical-align: middle;
}

.center-text{
  text-align: center;
}

.green{
  background-color:#33cc66 !important;
  color:black;
}

.red{
  background-color:#ef2f43 !important;
  color:black;
}

.blue{
  background-color:#33ccff !important;
  color:black;
}

.orange{
  background-color:#ef9637 !important;
  color:black;
}

@media (max-width:480px){
  table.bingo-table td, table.menu-table td{
    width:50px;
    height:50px;
  }
  .bingo-table, .menu-table{
    border-spacing:2px 2px;
  }

  .white_content{
    top:5%;
    left:5%;
    width:90%;
    height:90%;
  }

  div.full{
    width:50px;
    height:40px;
  }
}

@media print{
  td{
    border:1px solid black;
  }
  
}